<article class=" bg-slate-800 rounded-2xl px-5 py-4 ">
  <h2 class=" text-white  font-semibold text-lg mt-1 ">{{task.title}}</h2>
  <p class=" my-4 text-[13.5px]  font-medium text-gray-400 ">{{task.dueDate}}</p>
  <p class=" w-full text-base mt-2 font-medium  break-words text-wrap text-gray-200  ">{{task.summary}}</p>
    <div class=" flex w-full justify-end " >
        <button class=" px-2 py-1.5  cursor-pointer font-medium text-[13px] text-white bg-gray-700 rounded-lg mt-3 " >Complete</button>
    </div>
</article>
