<div class=" font-outfit w-full h-screen flex items-center justify-start flex-col bg-gray-950 ">
  <app-header />
  <main class=" mx-auto w-[950px]  flex items-start justify-between mt-12   ">
    <ul>
      @for (user of users; track user.id) {
      <li>
        <app-user 
          (select)="onSelectUser($event)"
            [user]="user"
            />
      </li>
      }
    </ul>

    @if (selectedUser) {
      <app-tasks  [userId]="selectedUser.id" [name]="selectedUser.name" class=" basis-[70%] flex items-start justify-center " />
    } @else {
      <h2 class=" text-white font-semibold mx-auto mt-56 text-xl  " >Select A User To  See Their Tasks!</h2>
    }
   
  </main>
</div>
