<div class=" font-outfit w-full h-screen flex items-center justify-start flex-col bg-gray-950 ">
  <app-header />
  <main class=" mx-auto w-5xl  flex items-center mt-5 ">
    <ul>
      <li>
        <app-user [avatar]="users[0].avatar" [name]="users[0].name" />
      </li>
      <li>
        <app-user [avatar]="users[1].avatar" [name]="users[1].name" />
      </li>
      <li>
        <app-user [avatar]="users[2].avatar" [name]="users[2].name" />
      </li>
      <li>
        <app-user [avatar]="users[3].avatar" [name]="users[3].name" />
      </li>
    </ul>
  </main>
</div>
